html,body{background:#eee;min-height:100%} 
.hidden{display:none;}
#header{width:75%;margin:0 auto;height:120px;text-align:center;font-size:26px;line-height:100px;vertical-align:middle;}
#content{width:80%;margin:0 auto;line-height:22px;}
#footer{width:75%;margin:0 auto;height:80px;text-align:center;line-height:80px;vertical-align:middle;font-size:12px;}
#menu{position: fixed;left:0px;top:120px;width:14%;font-size:14px;}
#menu li{display: block;padding-top: 10px;padding-bottom: 10px;padding-left:10px;box-shadow:1px 1px 2px #ddd;}
#menu .cur{background-color: pink;border-radius:4px;}
a:link{color:black;}
a:visited{color: black;}

@media screen and (max-width:600px){
    #menu{position:relative;width:100%;}
    #content{width:98%;}
}
