html,body{background:#eee;min-height:100%} 
#header{width:960px;margin:0 auto;text-align:center;font-size:28px;line-height:100px;vertical-align:middle;height:100px;position:relative;}
#header a img {width:80px;height:80px;position:absolute;top:10px;left:10px;}
.clear{clear:both;}
#content{width:960px;margin:0 auto; background-color: rgba(50,10,50,0.1);font-size: 14px;border-radius: 4px; }
#content ul li {float: left; width:200px;margin:10px 20px 10px 20px;}
:link{color:black;}
#footer{width:960px;margin:0 auto;height:80px;text-align:center;line-height:80px;vertical-align:middle;font-size:12px;}
