<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>my novel site!</title>
		<link rel="stylesheet" href="/static/css/reset.css"></link>
    </head>
    
    <body>
        <div id="header">
            ALL!
        </div>
        <div id="main">
            <ul>
            {% for book in dic %}
                <li><a href="{{ book['url'] }}">{{ book['title'] }}</a></li>
            {% end %}
            </ul>
        </div>
        <style>
            body{background: #EFEBE0 url(/static/back.jpg) repeat;}
            #header{height:100px;text-align:center;}
            #main{width:60%;margin:0 auto;padding-left:50px;}

            #main ul li{margin-top:10px;margin-bottom:10px;height:32px;padding-left:36px;line-height:32px;vertical-align:middle;font-size:24px;text-decoration:normal;}
            #main ul li{background:url(/static/book.png) left center no-repeat;}
            
        </style>
            
    </body>
</html>
