<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>my novel site!</title>
		<link rel="stylesheet" href="/static/css/reset.css"></link>
        <link rel="stylesheet" href="/static/css/index.css"></link>
    </head>
    
    <body>
        <div id="header">
        </div>
        <div id="main">
            <article>
                <p>这是一个小说收集网站，目的是希望在看小说的时候可以不受广告的打扰，所有内容都是在互联网上所爬取，如有任何版权问题，望与我取得联系，代码托管于<a href="https://github.com/woshifyz/novel-woshifyz" target="_blank">
                这里</a>,
            在可扩展性上已做处理，欢迎有兴趣者提交爬虫代码。 </p>
            <p>由于这只是个人项目，所以我不打算将自己沉入IE的泥沼，所以现在我只保证支持最新chrome，望理解。</p>
            </article>        
            <ul>
            {% for book in dic %}
                <li class="book"><a href="{{ book['url'] }}">{{ book['title'] }}</a></li>
            {% end %}
                <div class="clear"></div>
            </ul>
        </div>

        <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-36608774-1']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

        </script>
            
    </body>
</html>
