<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<script type="text/javascript" src="/static/jquery.js"></script>        
		<link rel="stylesheet" href="/static/css/reset.css"></link>
		<link rel="stylesheet" href="/static/css/main.css"></link>

    </head>
    <body>
        <div id="header">
            武动乾坤 
        </div>
        <div id="main">
        	<div id="content">
        		<ul>
        			{% for p in dic %}
        			<li><a href="{{ p['num'] }}">{{ p['title'] }}</a></li>
        			{% end %}
        			<div class="clear"></div>
        		</ul>

        	</div>
        </div>
        <div id="footer">
            copyright@fyz.com
        </div>
        <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-36608774-1']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

        </script>
    </body>
</html>
